<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:layout name="Default"/>

<f:section name="main">
    <div class="row">
        <f:for each="{posts}" as="post" iteration="i">
            <f:if condition="{settings.flexform.maximagestodisplay}">
                <f:then>
                    <f:if condition="{i.cycle} <= {settings.flexform.maximagestodisplay}">
                        <f:render partial="Post/RenderMedia"
                                  arguments="{post:post}"
                        />
                    </f:if>
                </f:then>
                <f:else>
                    <f:render partial="Post/RenderMedia"
                              arguments="{post:post}"
                    />
                </f:else>
            </f:if>
        </f:for>
    </div>
</f:section>

</html>
