<html xmlns="http://www.w3.org/1999/xhtml" lang="en" data-namespace-typo3-fluid="true"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
    <style>
        .pageWrap {
            padding: 10px 20px;
            font-family: 'Arial';
        }

        .form-group {
            width: 50%;
            margin-bottom: 20px;

        }

        label {
            display: block;
            float: left;
            width: 300px;
            margin-right: 10px;
        }

        input {
            width: 250px;
            border-radius: 5px;
            background-color: #fff;
            padding: 5px;
        }

    </style>
    <f:be.container>
        <div class="pageWrap">
            <h1>Schritt 3/3: Instagram API-Token Generator</h1>
            <h3>Erfolgreich!</h3>

            <p>Der Accesstoken wurde erfolgreich generiert und gespeichert.</p>

            <p>Lege nun einen Cronjob für den COmmand "instagram:refresh-accesstoken" an um das Accesstoken regelmäßig
                zu erneuern.</p>
            <p>Auch kannst du nun einen Cronjob für den Command "instagram:account:import-posts" anlegen um die Bilder
                eines Accounts zu importieren. Beispielsweise:</p>

            <p>
                <code>typo3cms instagram:account:import-posts {userId} STORAGE_PID</code>
            </p>

            <p>um die Bilder für diesen Account zu importieren.</p>
        </div>
    </f:be.container>
</f:section>

</html>
