<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true"
>

<f:switch expression="{post.type}">
    <f:case value="IMAGE">
        <f:for each="{post.images}" as="falimage">
            <f:render partial="Post/Singleimage" arguments="{falimage:falimage, post:post}"/>
        </f:for>
    </f:case>
    <f:case value="CAROUSEL_ALBUM">
        <f:for each="{post.images}" as="falimage">
            <f:render partial="Post/Singleimage" arguments="{falimage:falimage, post:post}"/>
        </f:for>
    </f:case>
    <f:case value="VIDEO">
        <f:for each="{post.videos}" as="video">
            <f:render partial="Post/Video" arguments="{video:video, post:post}"/>
        </f:for>
    </f:case>
</f:switch>

</html>
