<html xmlns="http://www.w3.org/1999/xhtml" lang="en" data-namespace-typo3-fluid="true"
      xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:ha="http://xsd.helmut-hummel.de/ns/SvenPetersen/Instagram/ViewHelpers">

<div class="col-6 col-sm-4 col-md-3">
    <div class="instagram-image-wrap">
        <f:link.external uri="{post.link}" target="_blank" title="{post.text}">
            <f:image image="{falimage}" width="640c" height="640c" class="img-fluid"/>
        </f:link.external>
    </div>
</div>

</html>
